.table3{
    padding: 50px;
}

.table3 .tg{
    width: 600px;
}

.title3{
    text-align: center;
    font-size: 20px;
    width: 600px;
    padding: 0px;
    margin: 0px;
}

.tg .tg-em6w{
    text-align:center;
    vertical-align:middle
}

.table3 thead{
    background-color:#fffe65;
}

.tg .tg-glna{
    text-align:left;
    vertical-align:top
}

.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-nrix{text-align:center;vertical-align:middle}